pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

# ClojureScript
out/
resources/public/js/

# Node.js
node_modules/
package-lock.json
.shadow-cljs/

# Build artifacts
public/js/
